name: CI
on:
  push:
    branches: [ 'master' ]
  pull_request:
    branches: [ 'master' ]
env:
  CI: true
permissions: {}

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node-version:
          - 6.x
          - 8.x
          - 10.x
          - 12.x
          - 14.x
          - 16.x
          - 18.x
          - 20.x
          - 22.x
          - 24.x
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install --no-fund
      - run: npm test
